.wrapper {
    width: 45%;
    height: 50vh;
    margin-top: 10px;
    border: thick double #32a1ce;
}

.wrapper_2 {
    width: 100%;
    height: 90%;
   
    overflow-x: auto;
    position: relative;
}

.container {
    width: 100%;
    height: 1000px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.red_box{
    height: 100px;
    width: 100px;
    background-color: red;
    border: thick double #32a1ce;
}