.gradient-preview {
    aspect-ratio: 2 / 1;
    min-height: 75px;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

form {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.color-row {
    display: flex;
}

.color-row label {
    width: 100px;
}